<p id="notice"></p>
<div class="container">
<div class="mx-auto">
  <div class="row">
    <div class="mx-auto">
<h1>Welcome to<i class="fas fa-book"></i><stong>Bookers</stong></h1>
</div>
</div>
</div>
</div>
